body {
background-color: #000000;
font-family: 'Press Start 2P', cursive;
font-size: 16px; 
color: #00ff00; 
margin: 0;
padding: 0;
}

#header {
background-color: #000000;
padding: 10px;
}

#header h1 {
margin: 0;
font-size: 24px;
color: #00ff00; 
text-align: center; 
}

#container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

#container h2 {
font-size: 20px; 
margin: 20px 0 10px;
color: #00ff00; 
}

#container p {
margin: 0 0 10px;
color: #ffffff; /* change p text color to white */
}


#pokemon-info {
box-shadow: 0px 0px 10px #00ff00; 
padding: 10px;
background-color: #000000; 
}


.social-icons i.fab.fa-linkedin {
font-size: 30px;
color: #ffffff; 
}

.social-icons i.fab.fa-github {
font-size: 30px;
color: #ffffff; /* change social icon color to green */
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
#container {
padding: 10px;
}

#container h2 {
font-size: 16px;
color: #00ff00;
}

}

@media screen and (max-width: 400px) {
#header h1 {
font-size: 20px;
color: #ffffff;
}

#container h2 {
font-size: 14px;
}

#container p {
font-size: 12px;
}
}
