/* Original Background*/
/* body {
	background-color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: #000000;
	margin: 0;
	padding: 0;
} */
	
		body {
			background-color: #ffffff;
			font-family: 'Courier New', Courier, monospace;
			font-size: 14px;
			color: #000000;
			margin: 0;
			padding: 0;
		}
		
		#header {
			background-color: #000000;
			padding: 10px;
		}
		
		#header h1 {
			margin: 0;
			font-size: 24px;
			color: #ffffff;
		}
		
		#container {
			max-width: 800px;
			margin: 0 auto;
			padding: 50px;
		}
		
		#container h2 {
			font-size: 18px;
			margin: 20px 0 10px;
			color: #000000;
		}
		
		#container p {
			margin: 0 0 10px;
		}
		
		#footer {
			background-color: #000000;
			color: #ffffff;
			padding: 50px;
			text-align: center;
			font-size: 12px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}

#header {
	background-color: #000000;
	padding: 10px;
}

#header h1 {
	margin: 0;
	font-size: 24px;
	color: #ffffff;
}

#container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#container h2 {
	font-size: 18px;
	margin: 20px 0 10px;
	color: #000000;
}

#container p {
	margin: 0 0 10px;
}

#footer {
	background-color: #000000;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Adding Box Around all the Pokemon Box */
#pokemon-info {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Styling the symbols */

.social-icons i.fab.fa-linkedin {
  font-size: 30px;
}

.social-icons i.fab.fa-github {
  font-size: 30px;
}

